# Variável acessível apenas no servidor
API_URL=https://api.stagingfy.com

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=CHANGEME
AWS_SECRET_ACCESS_KEY=CHANGEME
AWS_REGION=us-east-1
S3_BUCKET=stagingfy-sources

NEXTAUTH_SECRET=CHANGEME
NEXTAUTH_URL=http://localhost:3000/

GOOGLE_CLIENT_ID=CHANGEME
GOOGLE_CLIENT_SECRET=CHANGEME

# Variável acessível no cliente e no servidor
NEXT_PUBLIC_API_URL=https://api.stagingfy.com
NEXT_PUBLIC_SUPPORT_NUMBER=+73981269904
NEXT_PUBLIC_NAME_PROJECT=Stagingfy
NEXT_PUBLIC_BASE_URL=https://stagingfy.com
NEXT_PUBLIC_GATEWAY=efibank